header {
	text-align: center;
	padding: 5rem 0 7rem;
	margin-bottom: 5rem;
}

main,
footer,
main > .nq-card {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

@media (max-width: 1200px) {
	main,
	footer,
	main > .nq-card {
		padding-left: 6px;
		padding-right: 6px;
	}
}

body {
	background-color: var(--nimiq-blue);
	color: #ffffff;
}

input,
select {
	width: 100%;
}

.card-underform {
	margin: auto;
	width: 100%;
}

.card-underform * {
	max-width: 100%;
}
